<template>
  <h1 class="bounce_text">
    <span v-for="(l, index) in text" :key="index" :style="{ animationDelay: index < 10 ? `0.${index}s` : `1.${index - 10}s` }">{{ l }}</span>
  </h1>
</template>

<script>
  export default {
    name: 'bounceText',
    props: {
      text: {
        type: String,
        default: 'title'
      }
    }
  }
</script>
