<template>
  <div class="boggle" v-if="board.length" v-cloak>
    <div :class="['boggle_row fadeIn', { 'hidden': isHidden }]" v-for="(row, index) in board" :key="index">
      <div :class="['boggle_item', {'grid_5x5': maxRow === 5}]" v-for="(td, i) in row" :key="i">
        <div class="boggle_item_inner">
          <div class="boggle_item_char_wrap">
            <span class="">{{ td }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'GameBoard',
    data () {
      return {
        isHidden: true
      }
    },
    props: {
      board: {
        type: Array,
        default () {
          return []
        }
      },
      maxRow: {
        type: Number,
        default: 5
      }
    },
    mounted () {
      setTimeout(() => {
        this.isHidden = false
      }, 200)
    }
  }
</script>

<style lang="postcss">
  .boggle {
    max-width: 720px;
    min-height: 720px;
    margin: 0 auto;

    .boggle_row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .boggle_item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;

      line-height: 1;

      overflow: hidden;
      padding-bottom: 25%;
      position: relative;
      width: 100%;
      height: 0;

      &.grid_5x5 {
        padding-bottom: 20%;
      }

      .boggle_item_inner {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;

        .boggle_item_char_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 auto;

          width: 75%;
          height: 75%;

          background-color: #fff;
          border: 4px solid var(--blue);
          border-radius: 16px;
          box-shadow: 4px 4px 0px 0px var(--gray);
        }

        span {
          display: block;
          font-size: 3rem;
          font-weight: bold;
          flex: 0 0 auto;
          pointer-events: none;
        }
      }
    }
  }
</style>
