<template>
  <div class="rules">
    <h3>RULES</h3>
    <table>
      <tbody>
        <tr>
          <td>LETTERS</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8 or more</td>
        </tr>
        <tr>
          <td>POINTS</td>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>5</td>
          <td>11</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'rules'
  }
</script>
