<template>
  <transition name="fade" appear>
    <div class="setup_screen">

      <transition name="pop">
        <div class="setup_screen_inner" v-if="showInner">
          <bounceText class="text-center" :text="`BOGGLE! ${gameType}`" />

          <div class="settings">
            <div class="fieldset">
              <select v-model="gameType">
                <option value="5x5">5x5</option>
                <option value="4x4">4x4</option>
              </select>
            </div>
            <div class="fieldset">
              <select v-model="time">
                <option value="5000">5 sec</option>
                <option value="60000">1 min</option>
                <option value="120000">2 min</option>
                <option value="180000">3 min</option>
                <option value="240000">4 min</option>
                <option value="300000">5 min</option>
              </select>
            </div>
            <button @click="startGame">START GAME</button>

            <rules />

          </div>
        </div>
      </transition>

    </div>
  </transition>
</template>

<script>
  import bounceText from '/src/components/bounceText.vue'
  import rules from '/src/components/rules.vue'

  export default {
    name: 'setupScreen',
    components: {
      bounceText,
      rules
    },
    data () {
      return {
        gameType: '5x5', // 4x4, 5x5
        time: 60000,
        showInner: false
      }
    },
    methods: {
      startGame () {
        const { gameType, time } = this
        this.showInner = false
        setTimeout(() => {
          this.$emit('startgame', { gameType, time })
        }, 300)
      }
    },
    props: {
      text: {
        type: String,
        default: 'title'
      }
    },
    mounted () {
      setTimeout(() => {
        this.showInner = true
      }, 500)
    }
  }
</script>

<style lang="postcss" scoped>
  .setup_screen {
    position: fixed;
    top: 0;right: 0;bottom: 0;left: 0;
    background: #04C2F1;

    display: flex;
    justify-content: center;
    align-items: center;

    .setup_screen_inner {
      flex: 1 1 auto;
    }
  }

  .settings {
    text-align: center;
  }
</style>
