<template>
  <transition name="fade" appear>
    <div class="times_up_screen" v-if="isShown">

      <transition name="pop">
        <div class="setup_screen_inner" v-if="isShowInner">
          <bounceText class="text-center" text="TIMES UP!" />
          <div class="text-center">
            <button @click="handleHide">SEE BOARD</button>
          </div>
        </div>
      </transition>

    </div>
  </transition>
</template>

<script>
  import bounceText from '/src/components/bounceText.vue'

  export default {
    name: 'timesUpScreen',
    components: {
      bounceText
    },
    data () {
      return {
        isShown: false,
        isShowInner: false
      }
    },
    watch: {
      isShown (newVal) {
        if (newVal) this.showInner()
      }
    },
    methods: {
      handleHide () {
        this.isShowInner = false
        setTimeout(() => {
          this.isShown = false
        }, 300)
      },
      handleShow () {
        this.isShown = true
        this.showInner()
      },
      showInner () {
        setTimeout(() => {
          this.isShowInner = true
        }, 300)
      }
    },
    mounted () {
      const { isShown } = this
      if (isShown) this.showInner()
    }
  }
</script>

<style lang="postcss" scoped>
  .times_up_screen {
    position: fixed;
    top: 0;right: 0;bottom: 0;left: 0;
    background: #04C2F1;

    display: flex;
    justify-content: center;
    align-items: center;

    .setup_screen_inner {
      flex: 1 1 auto;
    }
  }

  .settings {
    text-align: center;
  }
</style>
