<template>
  <div class="timer_wrap">
    <div class="timer_min">{{ min }}</div>
    <div class="timer_colon">:</div>
    <div class="timer_sec">{{ sec }}</div>
  </div>
</template>

<script>
  export default {
    name: 'timer',
    data () {
      return {
        time: 0,
        intervalId: null
      }
    },
    methods: {
      startTimer () {
        this.time = this.startTime
        this.intervalId = setInterval(() => {
          this.time = this.time - 1000
        }, 1000)
      },
      stopTimer () {
        const { intervalId } = this
        if (intervalId !== null) clearInterval(Number(intervalId))
      },
      resetTimer () {
        this.stopTimer()
        this.time = this.startTime
      }
    },
    watch: {
      startTime () {
        this.time = this.startTime
      },
      time (newVal) {
        if (newVal <= 0) {
          this.stopTimer()
          this.time = 0
          this.$emit('timerfinsihed')
        }
      }
    },
    computed: {
      min () {
        const { time } = this
        const value = Math.floor(time / 60000)
        return String(value).padStart(2, '0')
      },
      sec () {
        const { time } = this
        const value = ((time % 60000) / 1000)
        return String(value).padStart(2, '0')
      }
    },
    props: {
      startTime: {
        type: Number,
        default: 60000
      }
    },
    mounted () {
      this.resetTimer()
    },
    beforeUnmount () {
      if (this.intervalId !== null) clearInterval(this.intervalId)
    }
  }
</script>

<style lang="postcss">
  .timer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6rem;
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: 28px;
  }
</style>
