/* JUMP */
.bounce_text {
  cursor: default;
  display: block;
  font-family: 'Luckiest Guy', sans-serif;

  span {
    transform: translateY(20px);
    display: inline-block;
    animation: bounce 0.4s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 4px 4px 0px var(--gray);
    min-width: 1rem;
  }
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    transform: translateY(-20px);
    text-shadow: 5px 8px 0px var(--gray);
  }
}
