@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import './bounceText.pcss';
@import './vueTransitions.pcss';

html {
  font-size: 16px;

  --btn: #F0A202;
  --blue: #78E3FD;
  --gray: #53575b;
  --gray-light: #C9CCCF;
  --bg: #EEF8FF;
}

body {
  background-color: var(--bg);
  font-weight: 400;
  color: var(--gray);
  font-family: Lato, "sans-serif";
  overflow-x: hidden;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

.wrap {
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.text-center {
  text-align: center;
}

.fieldset {
  margin-bottom: 16px;

  select {
    font-size: 1.4rem;
    border: 2px solid var(--gray);
    padding: 4px 18px;
    border-radius: 99px;
    background-color: #fff;
    min-width: 170px;
  }
}

button {
  background-color: var(--btn);
  font-size: 1.4rem;
  border: 2px solid var(--gray);
  border-radius: 99px;
  padding: 4px 18px;
  min-width: 170px;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px var(--gray);
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 0px 0px var(--gray);
  }
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.main_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8rem;

  min-width: 100vw;
  min-height: 100vh;

  .item {
    flex: 1 1 auto;
    width: 100%;
  }

  @media (min-width: 1440px) {
    flex-wrap: wrap-reverse;

    .item {
      width: 50%;
    }
  }
}

.rules {
  max-width: 330px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid var(--gray);
  box-shadow: 4px 4px 0px 0px var(--gray);

  h3 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.4rem;
    margin: 0 0 .5rem;
  }

  table, th, td {
    border: 1px solid var(--gray-light);
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;

    td {
      padding: 2px 8px;
    }
  }
}
