<template>
  <div :class="['main_layout', { 'invisible': !board.length }]" v-cloak>
    <div class="item">
      <gameBoard :board="board" :maxRow="maxRow" />
    </div>
    <div class="item text-center">
      <h2>Get your Boggle on!</h2>
      <timer :startTime="time" ref="timerComp" @timerfinsihed="gameTimeDone" />
      <button @click="handleGameReset">{{ resetBtnLabel }}</button>
      <rules />
    </div>
  </div>

  <setupScreen @startgame="startGame" v-if="showSetup" />
  <timesUpScreen ref="timesUpComp" />
</template>

<script>
  import gameBoard from '/src/components/gameBoard.vue'
  import timer from '/src/components/timer.vue'
  import setupScreen from '/src/components/setupScreen.vue'
  import timesUpScreen from '/src/components/timesUpScreen.vue'
  import rules from '/src/components/rules.vue'
  import { dataSet } from '/src/dataSets.js'
  import shuffle from 'lodash.shuffle'
  import random from 'lodash.random'

  export default {
    name: 'Root',
    components: {
      gameBoard,
      timer,
      setupScreen,
      timesUpScreen,
      rules
    },
    data () {
      return {
        gameType: '5x5', // 4x4, 5x5
        board: [],
        time: 60000,
        showSetup: true
      }
    },
    computed: {
      maxRow () {
        const { gameType } = this
        return gameType === '4x4' ? 4 : 5
      },
      resetBtnLabel () {
        const { time } = this
        return time <= 0 ? 'NEW GAME' : 'RESET'
      }
    },
    methods: {
      startGame (options) {
        this.gameType = options.gameType
        this.time = options.time

        this.generateBoard()
        this.$refs.timerComp.startTimer()

        this.showSetup = false
      },
      generateBoard () {
        const { gameType, maxRow } = this
        const data = dataSet[gameType]
        const result = []
        let row = []
        let count = 0

        for (let i = 0; i < data.length; i++) {
          const letters = data[i]

          row.push(letters[random(0, maxRow)]) // use first letter for now, will randomize later
          count++

          if (count === maxRow) {
            result.push(shuffle(row))
            row = []
            count = 0
          }
        }

        this.board = shuffle(result)
      },
      handleGameReset () {
        this.showSetup = true
        this.$refs.timerComp.resetTimer()
      },
      gameTimeDone () {
        this.time = 0
        this.$refs.timesUpComp.handleShow()
      }
    }
  }
</script>

<style lang="postcss" scoped>
  h2 {
    font-family: 'Luckiest Guy', Lato, sans-serif;
  }
</style>
